:root {
  --main-bg-color: #e1d4f5;
  --border-color: #0288d147;
}

body,
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--main-bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  background: #ffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone {
  width: 500px;
  min-height: 200px;
  margin: 30px;
  border-radius: 15px;
  border: 2.5px dashed var(--border-color);
  transition: all .3s ease;
}

.dragged.drop-zone {
  background: var(--main-bg-color);
  border-color: #2196f3; 
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px);
}

.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px);
}

#fileInput {
  display: none;
}

.browseBtn { 
  color: #2196f3;
  cursor: pointer;
}
 
