:root {
  --main-bg-color: #e1d4f5;
  --border-color: #0288d147;
  --container-width: 500px;
}

body,
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--main-bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
.drop-zone,
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  background: #ffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  margin: 25px;
  border-radius: 15px;
  border: 2.5px dashed var(--border-color);
  transition: all 0.3s ease;
}

.dragged.drop-zone {
  background: var(--main-bg-color);
  border-color: #2196f3;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px);
}

.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px);
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

#fileInput {
  display: none;
}

.browseBtn {
  color: #2196f3;
  cursor: pointer;
}

.progress-container {
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--main-bg-color);
  margin-bottom: 25px;
  border-radius: 10px;
}

.progress-container .bg-progress {
  background: var(--main-bg-color);
  width: 0%;
  height: 100%;
  border-radius: 3%;
  transform-origin: left;
  transition: width linear 0.25s;
}
